<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li class="alert alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label "Activate account" %>
  <%= form.check_box :approved, id: :user_approved %>


  <%= form.label "Admin account" %>
  <%= form.check_box :is_admin, id: :is_admin %>

  <%= form.submit "Submit", :class => "btn btn-primary" %>
<% end %>
