<h1>News</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col" colspan="3">Options</th>
      </tr>
    </thead>

    <tbody>
      <% @news.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.content %></td>
          <td><%= link_to 'Show', article, :class => 'btn btn-primary' %></td>
          <td><%= link_to 'Edit', edit_news_path(article), :class => 'btn btn-primary' %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New article', new_news_path, :class => "btn btn-primary" %>
