<%= form_with(model: page, local: true, html: {multipart: true}) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :title %>
    <%= form.text_field :title, id: :page_title, :class => "form-control" %>

    <%= form.label :content %>
    <%= form.text_area :content, id: :page_content, :class => "form-control"%>

    <%= form.fields_for :pictures do |builder| %>
      <%= render 'picture_fields', :form => builder %>
    <% end %>

    <%= form.submit "Add picture", :name => "add_picture", :class => "btn btn-primary" %>

    <%= render partial: "uploaded_picture", collection: @page.pictures %>
    <%= form.submit "Edit page", :class => "btn btn-primary"  %>
<% end %>
