<h1>Contacts</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Content</th>
        <th scope="col">Phone</th>
        <th scope="col" colspan="2">Options</th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.email %></td>
          <td><%= contact.name %></td>
          <td><%= contact.content %></td>
          <td><%= contact.phone %></td>
          <td><%= link_to 'Show', contact, :class => 'btn btn-primary' %></td>
          <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
