<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <p class="panel-title">
        <strong>Name</strong>
      </p>
    </div>
    <div class="panel-body">
      <div class="panel-text" style="text-align:justify"><%= @contact.name %></div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <p class="panel-title">
        <strong>E-Mail</strong>
      </p>
    </div>
    <div class="panel-body">
      <div class="panel-text" style="text-align:justify"><%= @contact.email %></div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <p class="panel-title">
        <strong>Phone</strong>
      </p>
    </div>
    <div class="panel-body">
      <div class="panel-text" style="text-align:justify"><%= @contact.phone %></div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <p class="panel-title">
        <strong>Content</strong>
      </p>
    </div>
    <div class="panel-body">
      <div class="panel-text" style="text-align:justify"><%= @contact.content %></div>
    </div>
  </div>

  <br>
  <%= link_to 'Edit', edit_contact_path(@contact), :class => 'btn btn-primary' %>
  <%= link_to 'Back', contacts_path, :class => 'btn btn-primary' %>
