<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li class="alert alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :name %>
    <%= form.text_field :name, id: :patient_name, :class => 'form-control' %>

    <%= form.label :email %>
    <%= form.text_field :email, id: :patient_email, :class => 'form-control' %>

    <%= form.label :phone %>
    <%= form.text_field :phone, id: :patient_phone, :class => 'form-control' %>

    <%= form.label :allergies %>
    <%= form.text_area :allergies, id: :patient_allergies, :class => 'form-control' %>

    <%= form.label :medical_notes %>
    <%= form.text_area :medical_notes, id: :patient_medical_notes, :class => 'form-control' %>

    <%= form.submit "Submit", :class => "btn btn-primary" %>
<% end %>
