<h1>Patients</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Allergies</th>
        <th scope="col">Medical notes</th>
        <th scope="col" colspan="3">Options</th>
      </tr>
    </thead>

    <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= patient.name %></td>
          <td><%= patient.email %></td>
          <td><%= patient.phone %></td>
          <td><%= patient.allergies %></td>
          <td><%= patient.medical_notes %></td>
          <td><%= link_to 'Show', patient, :class => 'btn btn-primary' %></td>
          <td><%= link_to 'Edit', edit_patient_path(patient), :class => 'btn btn-primary' %></td>
          <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Patient', new_patient_path, :class => "btn btn-primary" %>
