<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :schedule %>
  <%= form.datetime_select :schedule, id: :appointment_schedule %>

  <%= form.label :schedule_length_minutes %>
  <%= form.number_field :schedule_length_minutes, id: :appointment_schedule_length_minutes, :class => 'form-control' %>

  <%= form.label "Paid" %>
  <%= form.check_box :is_paid, id: :appointment_is_paid %>

  <%= form.label :notes %>
  <%= form.text_area :notes, id: :appointment_notes, :class => 'form-control' %>

  <%= form.label :Dentist %>
  <%= form.text_field :Dentist, id: :appointment_Dentist, :class => 'form-control' %>

  <%= form.label :Patient %>
  <%= form.text_field :Patient, id: :appointment_Patient, :class => 'form-control' %>

  <%= form.submit "Submit", :class => "btn btn-primary"%>
<% end %>
