<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li class="alert alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :schedule %>
  <%= form.datetime_select :schedule, id: :appointment_schedule %>

  <%= form.label "Schedule length in minutes" %>
  <%= form.number_field :schedule_length_minutes, id: :appointment_schedule_length_minutes, :class => 'form-control' %>

  <%= form.label "Paid" %>
  <%= form.check_box :is_paid, id: :appointment_is_paid %>

  <%= form.label :notes %>
  <%= form.text_area :notes, id: :appointment_notes, :class => 'form-control' %>

  <%= form.label :Dentist %>
  <%= select(:dentist, :id, Dentist.all.collect {|a| [a.name, a.id]}) %>

  <%= form.label :Patient %>
  <%= select(:patient, :id, Patient.all.collect {|a| [a.name, a.id]}) %>

   <%=  form.submit "Submit", :class => "btn btn-primary", :disabled => false %>
<% end %>
