<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :schedule %>
  <%= form.datetime_select :schedule, id: :appointment_schedule %>

  <%= form.label :schedule_length_minutes %>
  <%= form.number_field :schedule_length_minutes, id: :appointment_schedule_length_minutes, :class => 'form-control' %>

  <%= form.label "Paid" %>
  <%= form.check_box :is_paid, id: :appointment_is_paid %>

  <%= form.label :notes %>
  <%= form.text_area :notes, id: :appointment_notes, :class => 'form-control' %>

  <%= form.label :Dentist %>
  <% if @dentists.empty? %>
    <p>There is no dentist registered</p>
  <% else %>
    <%= form.select(:appointment_Dentist) do %>
      <% @dentists.each do |dentist| %>
        <%= content_tag(:option, dentist.name, value: dentist) %>
      <% end %>
    <% end %>
  <% end %>

  <%= form.label :Patient %>
  <% if @patients.empty? %>
    <p>There is no patient registered</p>
  <% else %>
    <%= form.select(:appointment_Patient) do %>
      <% @patients.each do |patient| %>
        <%= content_tag(:option, patient.name, value: patient) %>
      <% end %>
    <% end %>
  <% end %>

  <%= unless @patients.empty? || @dentists.empty?
    form.submit "Submit", :class => "btn btn-primary", :disabled => false
  else
    form.submit "Submit", :class => "btn btn-primary", :disabled => true
  end %>
<% end %>
