<h1>Reports</h1>

<%= label_tag(:q, "Dentist and patient total") %>
<br><a href="/reports/total" class="btn btn-primary">Go to report</a>

<div style="margin-top:25px">
  <%= label_tag(:q, "Unpaid appointments") %>
  <br><a href="/reports/unpaid" class="btn btn-primary">Go to report</a>
</di>

<div style="margin-top:25px">
  <%= form_tag("/reports/dentistappointments", method: "get") do %>
    <%= label_tag(:dentist, "Dentist appointments") %>
    <%= select(:dentist, :id, Dentist.all.collect {|a| [a.name, a.id]}) %>
    <%= submit_tag("Go to report", :class => "btn btn-primary") %>
  <% end %>
</div>

<div style="margin-top:25px">
  <%= form_tag("/reports/patientappointments", method: "get") do %>
    <%= label_tag(:patient, "Patient appointments") %>
    <%= select(:patient, :id, Patient.all.collect {|a| [a.name, a.id]}) %>
    <%= submit_tag("Go to report", :class => "btn btn-primary") %>
  <% end %>
</div>
