<h1>Appointments of the patient <%= @patient.name %></h1>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Schedule</th>
      <th scope="col">Schedule length in minutes</th>
      <th scope="col">Paid</th>
      <th scope="col">Notes</th>
      <th scope="col">Dentist</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <% if appointment.patient.name == @patient.name %>
        <tr>
          <td><%= appointment.schedule %></td>
          <td><%= appointment.schedule_length_minutes %></td>
          <td><%= appointment.is_paid %></td>
          <td><%= appointment.notes %></td>
          <td><%= appointment.dentist.name %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
