<h1>Unpaid appointments</h1>

<p>Total : <%= @appointments_count %>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Schedule</th>
      <th scope="col">Schedule length in minutes</th>
      <th scope="col">Paid</th>
      <th scope="col">Notes</th>
      <th scope="col">Dentist</th>
      <th scope="col">Patient</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.schedule %></td>
        <td><%= appointment.schedule_length_minutes %></td>
        <td><%= appointment.is_paid %></td>
        <td><%= appointment.notes %></td>
        <td><%= appointment.dentist.name %></td>
        <td><%= appointment.patient.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
