<!DOCTYPE html>
<html>
  <head>
    <title>WFProject</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container" style="margin-top:50px">
      <% if notice.blank? == false %>
        <p class="notice alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert.blank? == false %>
        <p class="alert alert-warning"><%= alert %></p>
      <% end %>
      <br>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
