<%= form_with(model: dentist, local: true) do |form| %>
  <% if dentist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dentist.errors.count, "error") %> prohibited this dentist from being saved:</h2>

      <ul>
      <% dentist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name, id: :dentist_name, :class => "form-control" %>

  <%= form.label :email %>
  <%= form.text_field :email, id: :dentist_email, :class => "form-control" %>

  <%= form.label :phone %>
  <%= form.text_field :phone, id: :dentist_phone, :class => "form-control" %>

  <%= form.label "Dental number" %>
  <%= form.text_field :dental_num, id: :dentist_dental_num, :class => "form-control" %>

  <%= form.label "Active" %>
  <%= form.check_box :is_active, id: :dentist_is_active %>

  <%= form.submit "Add dentist", :class => "btn btn-primary" %>
<% end %>
