<h1>Dentists</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Dental number</th>
        <th scope="col">Active</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @dentists.each do |dentist| %>
        <tr>
          <td><%= dentist.name %></td>
          <td><%= dentist.email %></td>
          <td><%= dentist.phone %></td>
          <td><%= dentist.dental_num %></td>
          <td><%= dentist.is_active %></td>
          <td><%= link_to 'Show', dentist, :class => 'btn btn-primary' %></td>
          <td><%= link_to 'Edit', edit_dentist_path(dentist), :class => 'btn btn-primary' %></td>
          <td><%= link_to 'Destroy', dentist, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Dentist', new_dentist_path, :class => 'btn btn-primary' %>
