<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <p class="panel-title">
        <strong>Name</strong>
      </p>
    </div>
    <div class="panel-body">
      <div class="panel-text" style="text-align:justify"><%= @dentist.name %></div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <p class="panel-title">
        <strong>E-Mail</strong>
      </p>
    </div>
    <div class="panel-body">
      <div class="panel-text" style="text-align:justify"><%= @dentist.email %></div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <p class="panel-title">
        <strong>Phone</strong>
      </p>
    </div>
    <div class="panel-body">
      <div class="panel-text" style="text-align:justify"><%= @dentist.phone %></div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <p class="panel-title">
        <strong>Dental number</strong>
      </p>
    </div>
    <div class="panel-body">
      <div class="panel-text" style="text-align:justify"><%= @dentist.dental_num %></div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <p class="panel-title">
        <strong>Active</strong>
      </p>
    </div>
    <div class="panel-body">
      <div class="panel-text" style="text-align:justify"><%= @dentist.is_active %></div>
    </div>
  </div>

<br>
<%= link_to 'Edit', edit_dentist_path(@dentist), :class => "btn btn-primary" %>
<%= link_to 'Back', dentists_path, :class => "btn btn-primary"  %>
