<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dentist.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dentist.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @dentist.phone %>
</p>

<p>
  <strong>Dental num:</strong>
  <%= @dentist.dental_num %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @dentist.is_active %>
</p>

<%= link_to 'Edit', edit_dentist_path(@dentist) %> |
<%= link_to 'Back', dentists_path %>
